@import 'base.css';

.root {
  width: 100%;
  font-size: 13px;
  font-family: var(--roboto);
  color: var(--colorBlack);
  box-sizing: border-box;
}

.header {
  margin-bottom: 20px;
}

.headerMobile {
  font-size: 16px;
}

.underline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0 solid transparent;
  border-width: 0 0 2px;
  transform: scaleX(0.6) scaleY(0);
  transform-origin: center bottom;
  transition: all 150ms linear;
  pointer-events: none;
}

.wrapperTextarea {
  position: relative;
  width: 100%;
  padding: 15px 0 10px 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.wrapperMobile {
  padding: 15px 0 10px 20px;
}

.wrapperBorder {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
  border: 1px solid var(--colorLightGray);
  border-radius: 1px;
  transition: border-color 150ms linear;
}

.textarea {
  width: 100%;
  height: calc(100% - 15px);
  margin-bottom: -3px;
  padding: 0 30px 0 0;
  font-size: 13px;
  line-height: 20px;
  background-color: transparent;
  transition: border-color 150ms linear;
  resize: none;
  border: none;
  overflow-y: scroll;

  &:hover + .wrapperBorder {
    border: 1px solid var(--colorGray);
  }

  &::placeholder {
    color: var(--colorGray);
    transition: color 0.2s linear;
  }

  &:disabled + .wrapperBorder {
    color: var(--colorLightGray);
  }

  &:disabled::placeholder {
    color: var(--colorLightGray);
  }

  &:focus {
    outline: none;
  }

  &:focus + .wrapperBorder {
    border-color: var(--colorLightGray);
  }

  &:focus + .wrapperBorder + .underline {
    border-color: var(--colorBlue);
    transform: none;
  }

  &:focus::placeholder {
    color: var(--colorLightGray);
  }
}

.textareaMobile {
  font-size: 16px;
  line-height: 25px;
}

.just {
  @mixin resetBtn;

  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: ns-resize;
}

.bigLine {
  position: absolute;
  top: 4px;
  right: 1px;
  width: 9px;
  height: 1px;
  background-color: var(--colorBlack);
  transform: rotate(-45deg);
}

.smallLine {
  position: absolute;
  top: 6px;
  right: 2px;
  width: 3px;
  height: 1px;
  background-color: var(--colorBlack);
  transform: rotate(-45deg);
}
