@import 'base.css';

.wrapper {
  position: relative;
  width: 100%;
  font-size: 13px;
  font-family: var(--roboto);
  color: var(--colorBlack);
  box-sizing: border-box;
}

.header {
  margin-bottom: 20px;
}

.headerMobile {
  font-size: 16px;
}

.underline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0 solid transparent;
  border-width: 0 0 2px;
  transform: scaleX(0.6) scaleY(0);
  transform-origin: center bottom;
  transition: all 150ms linear;
  pointer-events: none;
}

.textarea {
  position: relative;
  width: 100%;
  margin-bottom: -3px;
  padding: 14px;
  font-size: 13px;
  line-height: 20px;
  border: 1px solid var(--colorLightGray);
  transition: border-color 150ms linear;
  box-sizing: border-box;
  resize: vertical;

  &:hover {
    border: 1px solid var(--colorGray);
  }

  &::placeholder {
    color: var(--colorGray);
    transition: color 0.2s;
  }

  &:disabled {
    color: var(--colorLightGray);
    background-color: transparent;
  }

  &:disabled::placeholder {
    color: var(--colorLightGray);
  }

  &:focus {
    border-color: var(--colorLightGray);
    outline: none;
  }

  &:focus + .underline {
    border-color: var(--colorBlue);
    transform: none;
  }

  &:focus::placeholder {
    color: var(--colorLightGray);
  }
}

.textareaMobile {
  padding: 14px 19px;
  font-size: 16px;
  line-height: 25px;
}
