@import "base.css";

.root {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  position: relative;
  z-index: 1;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
