:root {
  --colorWhite: #fff;
  --colorBlack: #262626;
  --colorDarkBlue: #2c54e2;
  --colorBlue: #315efb;
  --colorLightBlue: #2f93ff;
  --colorGrey: #b0b4c2;
  --colorPaleGrey: #f3f4f7;
  --colorLightGray: #dcdfe7;
  --colorPearlGrey: #c6cad8;
  --colorDisabled: #afb6c9;
  --colorDisabledBorder: #e8eaf0;
  --colorText: #676767;
}
