:root {
  --colorWhite: #fff;
  --colorBlack: #262626;
  --colorDarkBlue: #2c54e2;
  --colorBlue: #315efb;
  --colorRed: #ff564e;
  --colorGray: #b0b4c2;
  --colorLightGray: #dcdfe7;
  --colorPearlGray: #c6cad8;
  --colorPaleGray: #f3f4f7;
}
