@import 'base.css';

.counter {
  display: flex;
  justify-content: flex-end;
  font-size: 11px;
  line-height: 15px;
  padding-right: 15px;
  color: var(--colorGray);
  box-sizing: border-box;
}

.counterMobile {
  font-size: 13px;
  padding-right: 20px;
}
