
@import "base.css";

.root {
  font-family: var(--roboto);
  font-size: 13px;
  color: var(--colorBlack);
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--colorBlack);

  &--active {
    color: var(--colorBlue);
  }
}
