
@import "base.css";

.root {
  display: flex;
  font-family: var(--roboto);
  font-size: 13px;
  line-height: 15px;
  color: var(--colorBlack);
}

.label {
  display: flex;
  margin-left: -1px;

  &:first-child {
    margin-left: 0;
  }

  & > input {
    display: none;
  }

  &.disabled {
    pointer-events: none;
  }
}

.tab {
  position: relative;
  border-radius: 1px;
  box-shadow: inset 0 0 0 1px var(--colorLightGray);
  transition: 0.2s;

  &.big {
    padding: 15px 20px;
  }

  &.medium {
    padding: 10px 20px;
  }

  &.small {
    padding: 5px 15px;
  }

  &Active {
    z-index: 1;
    color: var(--colorBlue);
    box-shadow: inset 0 0 0 1px var(--colorBlue);

    &.disabled {
      background-color: var(--colorPaleGrey);
    }
  }

  &.disabled {
    color: var(--colorLightGray);
    box-shadow: inset 0 0 0 1px var(--colorLightGray);
  }
}
